<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row container">
      <h1>People >> Edit</h1>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-login">
        <%= form_for(person, url: user_person_path(person.user, person), html: {method: "patch"} ) do |f| %>
          <span class="label label-success">Name:</span>
          <p>
            <%= f.text_field :name, :class => "form-control input-sm chat-input" %>
          </p>
          <span class="label label-success">Phone no:</span>
          <p>
            <%= f.text_field :phone_no, :class => "form-control input-sm chat-input" %>
          </p>
          <span class="label label-success">Email:</span>
          <p>
            <%= f.text_field :email, :class => "form-control input-sm chat-input" %>
          </p>
          <p>
            <%= f.submit 'Update' %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
